.teamIMG:hover:before {
  height: 100%;
}
.teamIMG:before {
  content: "";
  position: absolute;
  // top: 0;
  left: 0;
  width: 100%;
  height: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
  z-index: 2;
}

.playerIMG {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

h5 {
  margin-top: 100px;
}

.yellow {
  color: rgb(166, 168, 15);
}
